/* VARIABLES
 * ====================
 * Setting up some variables used throughout the styles:
 * - All the colors. These come from Sonokai because it's awesome.
 * - Font size, line height, row width. The Grid.
 */

html {
  --bg4: #414550;
  --bg-red: #ff6077;
  --blue: #76cce0;
  --purple: #b39df3;
  --bg0: #2c2e34;
  --bg1: #33353f;
  --bg-dim: #222327;
  --bg-green: #a7df78;
  --black: #181819;
  --diff-yellow: #4e432f;
  --fg: #e2e2e3;
  --grey-dim: #595f6f;
  --bg2: #363944;
  --bg3: #3b3e48;
  --diff-blue: #354157;
  --orange: #f39660;
  --red: #fc5d7c;
  --transparent: transparent;
  --inherit: inherit;
  --bg-blue: #85d3f2;
  --diff-green: #394634;
  --diff-red: #55393d;
  --green: #9ed072;
  --grey: #7f8490;
  --yellow: #e7c664;
}

html {
  --base-size: 14px;
  --col: calc(1rem * 0.6007142857);
  --row: calc(1rem * 1.35);
}

html {
  font-size: var(--base-size);
  line-height: var(--row);
}

/* FOUNDATION
 * ====================
 * Some default properties that allow us to apply the theme and guarantee grid alignment.
 * - The list elements are a bit opinionated.
 * - We _need_ `content-box` to enforce the grid when applying widths and heights to items with borders
 */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: none;
  font-family: inherit;
  box-sizing: content-box;
}

body {
  font-family: "Monaco Nerd Font";
  background-color: var(--bg-dim);
  color: var(--fg);
}

ul {
  list-style: none;
  padding-left: calc(var(--col) * 2);
  margin: 0;
}

li {
  position: relative;
}

li:before {
  content: "*";
  position: absolute;
  left: calc(var(--col) * -2);
  color: var(--grey);
}

/* TYPOGRAPHY
 * ====================
 * Basic text transofrmations: weight, style, whitespace, case.
 * Size is also an option. It's definitely cheating a bit, since terminals don't have that luxury,
 * but it's nice to have and is still guaranteed to be aligned.
 */

.text-1 {
  font-size: calc(var(--base-size) * 1);
  line-height: calc(var(--row) * 1);
}

.text-2 {
  font-size: calc(var(--base-size) * 2);
  line-height: calc(var(--row) * 2);
}

.text-3 {
  font-size: calc(var(--base-size) * 3);
  line-height: calc(var(--row) * 3);
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

/* COLORS
 * ====================
 * Utilities to apply the theme colors to text and background.
 */

.text-inherit {
  color: var(--inherit);
}

.bg-inherit {
  background-color: var(--inherit);
}

.text-bg-blue {
  color: var(--bg-blue);
}

.bg-bg-blue {
  background-color: var(--bg-blue);
}

.text-diff-green {
  color: var(--diff-green);
}

.bg-diff-green {
  background-color: var(--diff-green);
}

.text-diff-red {
  color: var(--diff-red);
}

.bg-diff-red {
  background-color: var(--diff-red);
}

.text-green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
}

.text-grey {
  color: var(--grey);
}

.bg-grey {
  background-color: var(--grey);
}

.text-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.text-bg4 {
  color: var(--bg4);
}

.bg-bg4 {
  background-color: var(--bg4);
}

.text-bg-red {
  color: var(--bg-red);
}

.bg-bg-red {
  background-color: var(--bg-red);
}

.text-blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.text-purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

.text-bg0 {
  color: var(--bg0);
}

.bg-bg0 {
  background-color: var(--bg0);
}

.text-bg1 {
  color: var(--bg1);
}

.bg-bg1 {
  background-color: var(--bg1);
}

.text-bg-dim {
  color: var(--bg-dim);
}

.bg-bg-dim {
  background-color: var(--bg-dim);
}

.text-bg-green {
  color: var(--bg-green);
}

.bg-bg-green {
  background-color: var(--bg-green);
}

.text-black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.text-diff-yellow {
  color: var(--diff-yellow);
}

.bg-diff-yellow {
  background-color: var(--diff-yellow);
}

.text-fg {
  color: var(--fg);
}

.bg-fg {
  background-color: var(--fg);
}

.text-grey-dim {
  color: var(--grey-dim);
}

.bg-grey-dim {
  background-color: var(--grey-dim);
}

.text-bg2 {
  color: var(--bg2);
}

.bg-bg2 {
  background-color: var(--bg2);
}

.text-bg3 {
  color: var(--bg3);
}

.bg-bg3 {
  background-color: var(--bg3);
}

.text-diff-blue {
  color: var(--diff-blue);
}

.bg-diff-blue {
  background-color: var(--diff-blue);
}

.text-orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.text-red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.text-transparent {
  color: var(--transparent);
}

.bg-transparent {
  background-color: var(--transparent);
}

/* FLEX
 * ====================
 * Flex-related utilities. Still WIP.
 * Note that some things like `justify-between will not be available unless they can be guaranteed to _always_ respect the grid.
 */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

/* MARGIN & PADDING
 * ====================
 * Applying margin and padding -- specific sides, x and y, all sides.
 * All the sizes are grid-aligned.
 * Margins are also negative.
 */

.-p-0 {
  padding-x: calc(var(--col) * 0);
  padding-y: calc(var(--row) * 0);
}

.p-1 {
  padding-x: calc(var(--col) * 1);
  padding-y: calc(var(--row) * 1);
}

.p-2 {
  padding-x: calc(var(--col) * 2);
  padding-y: calc(var(--row) * 2);
}

.p-4 {
  padding-x: calc(var(--col) * 4);
  padding-y: calc(var(--row) * 4);
}

.-px-0 {
  padding-x: calc(var(--col) * 0);
}

.px-1 {
  padding-x: calc(var(--col) * 1);
}

.px-2 {
  padding-x: calc(var(--col) * 2);
}

.px-4 {
  padding-x: calc(var(--col) * 4);
}

.-px-0 {
  padding-x: calc(var(--row) * 0);
}

.px-1 {
  padding-x: calc(var(--row) * 1);
}

.px-2 {
  padding-x: calc(var(--row) * 2);
}

.px-4 {
  padding-x: calc(var(--row) * 4);
}

.-px-0 {
  padding-x: calc(var(--row) * 0);
}

.px-1 {
  padding-x: calc(var(--row) * 1);
}

.px-2 {
  padding-x: calc(var(--row) * 2);
}

.px-4 {
  padding-x: calc(var(--row) * 4);
}

.-py-0 {
  padding-y: calc(var(--row) * 0);
}

.py-1 {
  padding-y: calc(var(--row) * 1);
}

.py-2 {
  padding-y: calc(var(--row) * 2);
}

.py-4 {
  padding-y: calc(var(--row) * 4);
}

.-py-0 {
  padding-y: calc(var(--col) * 0);
}

.py-1 {
  padding-y: calc(var(--col) * 1);
}

.py-2 {
  padding-y: calc(var(--col) * 2);
}

.py-4 {
  padding-y: calc(var(--col) * 4);
}

.-py-0 {
  padding-y: calc(var(--col) * 0);
}

.py-1 {
  padding-y: calc(var(--col) * 1);
}

.py-2 {
  padding-y: calc(var(--col) * 2);
}

.py-4 {
  padding-y: calc(var(--col) * 4);
}

.-m-2 {
  margin-x: calc(var(--col) * -2);
  margin-y: calc(var(--row) * -2);
}

.-m-1 {
  margin-x: calc(var(--col) * -1);
  margin-y: calc(var(--row) * -1);
}

.-m-0 {
  margin-x: calc(var(--col) * 0);
  margin-y: calc(var(--row) * 0);
}

.m-1 {
  margin-x: calc(var(--col) * 1);
  margin-y: calc(var(--row) * 1);
}

.m-2 {
  margin-x: calc(var(--col) * 2);
  margin-y: calc(var(--row) * 2);
}

.m-4 {
  margin-x: calc(var(--col) * 4);
  margin-y: calc(var(--row) * 4);
}

.-mx-2 {
  margin-x: calc(var(--col) * -2);
}

.-mx-1 {
  margin-x: calc(var(--col) * -1);
}

.-mx-0 {
  margin-x: calc(var(--col) * 0);
}

.mx-1 {
  margin-x: calc(var(--col) * 1);
}

.mx-2 {
  margin-x: calc(var(--col) * 2);
}

.mx-4 {
  margin-x: calc(var(--col) * 4);
}

.-mx-2 {
  margin-x: calc(var(--row) * -2);
}

.-mx-1 {
  margin-x: calc(var(--row) * -1);
}

.-mx-0 {
  margin-x: calc(var(--row) * 0);
}

.mx-1 {
  margin-x: calc(var(--row) * 1);
}

.mx-2 {
  margin-x: calc(var(--row) * 2);
}

.mx-4 {
  margin-x: calc(var(--row) * 4);
}

.-mx-2 {
  margin-x: calc(var(--row) * -2);
}

.-mx-1 {
  margin-x: calc(var(--row) * -1);
}

.-mx-0 {
  margin-x: calc(var(--row) * 0);
}

.mx-1 {
  margin-x: calc(var(--row) * 1);
}

.mx-2 {
  margin-x: calc(var(--row) * 2);
}

.mx-4 {
  margin-x: calc(var(--row) * 4);
}

.-my-2 {
  margin-y: calc(var(--row) * -2);
}

.-my-1 {
  margin-y: calc(var(--row) * -1);
}

.-my-0 {
  margin-y: calc(var(--row) * 0);
}

.my-1 {
  margin-y: calc(var(--row) * 1);
}

.my-2 {
  margin-y: calc(var(--row) * 2);
}

.my-4 {
  margin-y: calc(var(--row) * 4);
}

.-my-2 {
  margin-y: calc(var(--col) * -2);
}

.-my-1 {
  margin-y: calc(var(--col) * -1);
}

.-my-0 {
  margin-y: calc(var(--col) * 0);
}

.my-1 {
  margin-y: calc(var(--col) * 1);
}

.my-2 {
  margin-y: calc(var(--col) * 2);
}

.my-4 {
  margin-y: calc(var(--col) * 4);
}

.-my-2 {
  margin-y: calc(var(--col) * -2);
}

.-my-1 {
  margin-y: calc(var(--col) * -1);
}

.-my-0 {
  margin-y: calc(var(--col) * 0);
}

.my-1 {
  margin-y: calc(var(--col) * 1);
}

.my-2 {
  margin-y: calc(var(--col) * 2);
}

.my-4 {
  margin-y: calc(var(--col) * 4);
}

/* MARGIN AUTO
 * ====================
 * This is incuded for the sake of creating decent page layouts.
 * It's fine to use this on the root element, but anywhere else
 * it might break the grid.
 */

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-x: auto;
}

.my-auto {
  margin-y: auto;
}

/* BORDERS
 * ====================
 * Applying borders -- specific sides, x and y, all sides.
 * Colors, style, and radius can be changed.
 * The border width cannot be chosen; it's just yes or no.
 * Borders are applied along with a specific combination of margin and padding so that
 * they take a full extra row/column and remain aligned grid.
 * These half-paddings are the reason we need `content-box`.
 * Borders are defined _after_ margins and paddings, meaning that a bordered item cannot have additional margin or padding.
 * This is, again, to enforce grid alignment at all times
 */

.border {
  border-x: 2px solid var(--grey-dim);
  margin-x: calc((var(--col) - 2px) / 2);
  padding-x: calc((var(--col) - 2px) / 2);
}

.border-0 {
  border-x: 0;
  margin-x: 0;
  padding-x: 0;
}

.border-bg0 {
  border-x-color: var(--bg0);
}

.border-bg1 {
  border-x-color: var(--bg1);
}

.border-bg-dim {
  border-x-color: var(--bg-dim);
}

.border-bg-green {
  border-x-color: var(--bg-green);
}

.border-black {
  border-x-color: var(--black);
}

.border-diff-yellow {
  border-x-color: var(--diff-yellow);
}

.border-fg {
  border-x-color: var(--fg);
}

.border-grey-dim {
  border-x-color: var(--grey-dim);
}

.border-bg2 {
  border-x-color: var(--bg2);
}

.border-bg3 {
  border-x-color: var(--bg3);
}

.border-diff-blue {
  border-x-color: var(--diff-blue);
}

.border-orange {
  border-x-color: var(--orange);
}

.border-red {
  border-x-color: var(--red);
}

.border-transparent {
  border-x-color: var(--transparent);
}

.border-inherit {
  border-x-color: var(--inherit);
}

.border-bg-blue {
  border-x-color: var(--bg-blue);
}

.border-diff-green {
  border-x-color: var(--diff-green);
}

.border-diff-red {
  border-x-color: var(--diff-red);
}

.border-green {
  border-x-color: var(--green);
}

.border-grey {
  border-x-color: var(--grey);
}

.border-yellow {
  border-x-color: var(--yellow);
}

.border-bg4 {
  border-x-color: var(--bg4);
}

.border-bg-red {
  border-x-color: var(--bg-red);
}

.border-blue {
  border-x-color: var(--blue);
}

.border-purple {
  border-x-color: var(--purple);
}

.border-solid {
  border-x-color: solid;
}

.border-dashed {
  border-x-color: dashed;
}

.border {
  border-y: 2px solid var(--grey-dim);
  margin-y: calc((var(--row) - 2px) / 2);
  padding-y: calc((var(--row) - 2px) / 2);
}

.border-0 {
  border-y: 0;
  margin-y: 0;
  padding-y: 0;
}

.border-grey-dim {
  border-y-color: var(--grey-dim);
}

.border-bg2 {
  border-y-color: var(--bg2);
}

.border-bg3 {
  border-y-color: var(--bg3);
}

.border-diff-blue {
  border-y-color: var(--diff-blue);
}

.border-orange {
  border-y-color: var(--orange);
}

.border-red {
  border-y-color: var(--red);
}

.border-transparent {
  border-y-color: var(--transparent);
}

.border-inherit {
  border-y-color: var(--inherit);
}

.border-bg-blue {
  border-y-color: var(--bg-blue);
}

.border-diff-green {
  border-y-color: var(--diff-green);
}

.border-diff-red {
  border-y-color: var(--diff-red);
}

.border-green {
  border-y-color: var(--green);
}

.border-grey {
  border-y-color: var(--grey);
}

.border-yellow {
  border-y-color: var(--yellow);
}

.border-bg4 {
  border-y-color: var(--bg4);
}

.border-bg-red {
  border-y-color: var(--bg-red);
}

.border-blue {
  border-y-color: var(--blue);
}

.border-purple {
  border-y-color: var(--purple);
}

.border-bg0 {
  border-y-color: var(--bg0);
}

.border-bg1 {
  border-y-color: var(--bg1);
}

.border-bg-dim {
  border-y-color: var(--bg-dim);
}

.border-bg-green {
  border-y-color: var(--bg-green);
}

.border-black {
  border-y-color: var(--black);
}

.border-diff-yellow {
  border-y-color: var(--diff-yellow);
}

.border-fg {
  border-y-color: var(--fg);
}

.border-solid {
  border-y-color: solid;
}

.border-dashed {
  border-y-color: dashed;
}

.border-square {
  border-radius: 0;
}

.border-rounded {
  border-radius: 4px;
}

.border-x {
  border-x: 2px solid var(--grey-dim);
  margin-x: calc((var(--col) - 2px) / 2);
  padding-x: calc((var(--col) - 2px) / 2);
}

.border-x-0 {
  border-x: 0;
  margin-x: 0;
  padding-x: 0;
}

.border-x-purple {
  border-x-color: var(--purple);
}

.border-x-bg0 {
  border-x-color: var(--bg0);
}

.border-x-bg1 {
  border-x-color: var(--bg1);
}

.border-x-bg-dim {
  border-x-color: var(--bg-dim);
}

.border-x-bg-green {
  border-x-color: var(--bg-green);
}

.border-x-black {
  border-x-color: var(--black);
}

.border-x-diff-yellow {
  border-x-color: var(--diff-yellow);
}

.border-x-fg {
  border-x-color: var(--fg);
}

.border-x-grey-dim {
  border-x-color: var(--grey-dim);
}

.border-x-bg2 {
  border-x-color: var(--bg2);
}

.border-x-bg3 {
  border-x-color: var(--bg3);
}

.border-x-diff-blue {
  border-x-color: var(--diff-blue);
}

.border-x-orange {
  border-x-color: var(--orange);
}

.border-x-red {
  border-x-color: var(--red);
}

.border-x-transparent {
  border-x-color: var(--transparent);
}

.border-x-inherit {
  border-x-color: var(--inherit);
}

.border-x-bg-blue {
  border-x-color: var(--bg-blue);
}

.border-x-diff-green {
  border-x-color: var(--diff-green);
}

.border-x-diff-red {
  border-x-color: var(--diff-red);
}

.border-x-green {
  border-x-color: var(--green);
}

.border-x-grey {
  border-x-color: var(--grey);
}

.border-x-yellow {
  border-x-color: var(--yellow);
}

.border-x-bg4 {
  border-x-color: var(--bg4);
}

.border-x-bg-red {
  border-x-color: var(--bg-red);
}

.border-x-blue {
  border-x-color: var(--blue);
}

.border-x-solid {
  border-x-color: solid;
}

.border-x-dashed {
  border-x-color: dashed;
}

.border-x-square {
  border-x-radius: 0;
}

.border-x-rounded {
  border-x-radius: 4px;
}

.border-t {
  border-t: 2px solid var(--grey-dim);
  margin-t: calc((var(--row) - 2px) / 2);
  padding-t: calc((var(--row) - 2px) / 2);
}

.border-t-0 {
  border-t: 0;
  margin-t: 0;
  padding-t: 0;
}

.border-t-grey {
  border-t-color: var(--grey);
}

.border-t-yellow {
  border-t-color: var(--yellow);
}

.border-t-bg4 {
  border-t-color: var(--bg4);
}

.border-t-bg-red {
  border-t-color: var(--bg-red);
}

.border-t-blue {
  border-t-color: var(--blue);
}

.border-t-purple {
  border-t-color: var(--purple);
}

.border-t-bg0 {
  border-t-color: var(--bg0);
}

.border-t-bg1 {
  border-t-color: var(--bg1);
}

.border-t-bg-dim {
  border-t-color: var(--bg-dim);
}

.border-t-bg-green {
  border-t-color: var(--bg-green);
}

.border-t-black {
  border-t-color: var(--black);
}

.border-t-diff-yellow {
  border-t-color: var(--diff-yellow);
}

.border-t-fg {
  border-t-color: var(--fg);
}

.border-t-grey-dim {
  border-t-color: var(--grey-dim);
}

.border-t-bg2 {
  border-t-color: var(--bg2);
}

.border-t-bg3 {
  border-t-color: var(--bg3);
}

.border-t-diff-blue {
  border-t-color: var(--diff-blue);
}

.border-t-orange {
  border-t-color: var(--orange);
}

.border-t-red {
  border-t-color: var(--red);
}

.border-t-transparent {
  border-t-color: var(--transparent);
}

.border-t-inherit {
  border-t-color: var(--inherit);
}

.border-t-bg-blue {
  border-t-color: var(--bg-blue);
}

.border-t-diff-green {
  border-t-color: var(--diff-green);
}

.border-t-diff-red {
  border-t-color: var(--diff-red);
}

.border-t-green {
  border-t-color: var(--green);
}

.border-t-solid {
  border-t-color: solid;
}

.border-t-dashed {
  border-t-color: dashed;
}

.border-t-rounded {
  border-t-radius: 4px;
}

.border-t-square {
  border-t-radius: 0;
}

.border-tl-square {
  border-tl-radius: 0;
}

.border-tl-rounded {
  border-tl-radius: 4px;
}

.border-tr-square {
  border-tr-radius: 0;
}

.border-tr-rounded {
  border-tr-radius: 4px;
}

.border-b {
  border-b: 2px solid var(--grey-dim);
  margin-b: calc((var(--row) - 2px) / 2);
  padding-b: calc((var(--row) - 2px) / 2);
}

.border-b-0 {
  border-b: 0;
  margin-b: 0;
  padding-b: 0;
}

.border-b-bg-blue {
  border-b-color: var(--bg-blue);
}

.border-b-diff-green {
  border-b-color: var(--diff-green);
}

.border-b-diff-red {
  border-b-color: var(--diff-red);
}

.border-b-green {
  border-b-color: var(--green);
}

.border-b-grey {
  border-b-color: var(--grey);
}

.border-b-yellow {
  border-b-color: var(--yellow);
}

.border-b-bg4 {
  border-b-color: var(--bg4);
}

.border-b-bg-red {
  border-b-color: var(--bg-red);
}

.border-b-blue {
  border-b-color: var(--blue);
}

.border-b-purple {
  border-b-color: var(--purple);
}

.border-b-bg0 {
  border-b-color: var(--bg0);
}

.border-b-bg1 {
  border-b-color: var(--bg1);
}

.border-b-bg-dim {
  border-b-color: var(--bg-dim);
}

.border-b-bg-green {
  border-b-color: var(--bg-green);
}

.border-b-black {
  border-b-color: var(--black);
}

.border-b-diff-yellow {
  border-b-color: var(--diff-yellow);
}

.border-b-fg {
  border-b-color: var(--fg);
}

.border-b-grey-dim {
  border-b-color: var(--grey-dim);
}

.border-b-bg2 {
  border-b-color: var(--bg2);
}

.border-b-bg3 {
  border-b-color: var(--bg3);
}

.border-b-diff-blue {
  border-b-color: var(--diff-blue);
}

.border-b-orange {
  border-b-color: var(--orange);
}

.border-b-red {
  border-b-color: var(--red);
}

.border-b-transparent {
  border-b-color: var(--transparent);
}

.border-b-inherit {
  border-b-color: var(--inherit);
}

.border-b-solid {
  border-b-color: solid;
}

.border-b-dashed {
  border-b-color: dashed;
}

.border-b-square {
  border-b-radius: 0;
}

.border-b-rounded {
  border-b-radius: 4px;
}

.border-bl-square {
  border-bl-radius: 0;
}

.border-bl-rounded {
  border-bl-radius: 4px;
}

.border-br-square {
  border-br-radius: 0;
}

.border-br-rounded {
  border-br-radius: 4px;
}

.border-y {
  border-y: 2px solid var(--grey-dim);
  margin-y: calc((var(--row) - 2px) / 2);
  padding-y: calc((var(--row) - 2px) / 2);
}

.border-y-0 {
  border-y: 0;
  margin-y: 0;
  padding-y: 0;
}

.border-y-bg-dim {
  border-y-color: var(--bg-dim);
}

.border-y-bg-green {
  border-y-color: var(--bg-green);
}

.border-y-black {
  border-y-color: var(--black);
}

.border-y-diff-yellow {
  border-y-color: var(--diff-yellow);
}

.border-y-fg {
  border-y-color: var(--fg);
}

.border-y-grey-dim {
  border-y-color: var(--grey-dim);
}

.border-y-bg2 {
  border-y-color: var(--bg2);
}

.border-y-bg3 {
  border-y-color: var(--bg3);
}

.border-y-diff-blue {
  border-y-color: var(--diff-blue);
}

.border-y-orange {
  border-y-color: var(--orange);
}

.border-y-red {
  border-y-color: var(--red);
}

.border-y-transparent {
  border-y-color: var(--transparent);
}

.border-y-inherit {
  border-y-color: var(--inherit);
}

.border-y-bg-blue {
  border-y-color: var(--bg-blue);
}

.border-y-diff-green {
  border-y-color: var(--diff-green);
}

.border-y-diff-red {
  border-y-color: var(--diff-red);
}

.border-y-green {
  border-y-color: var(--green);
}

.border-y-grey {
  border-y-color: var(--grey);
}

.border-y-yellow {
  border-y-color: var(--yellow);
}

.border-y-bg4 {
  border-y-color: var(--bg4);
}

.border-y-bg-red {
  border-y-color: var(--bg-red);
}

.border-y-blue {
  border-y-color: var(--blue);
}

.border-y-purple {
  border-y-color: var(--purple);
}

.border-y-bg0 {
  border-y-color: var(--bg0);
}

.border-y-bg1 {
  border-y-color: var(--bg1);
}

.border-y-solid {
  border-y-color: solid;
}

.border-y-dashed {
  border-y-color: dashed;
}

.border-y-square {
  border-y-radius: 0;
}

.border-y-rounded {
  border-y-radius: 4px;
}

.border-l {
  border-l: 2px solid var(--grey-dim);
  margin-l: calc((var(--col) - 2px) / 2);
  padding-l: calc((var(--col) - 2px) / 2);
}

.border-l-0 {
  border-l: 0;
  margin-l: 0;
  padding-l: 0;
}

.border-l-bg0 {
  border-l-color: var(--bg0);
}

.border-l-bg1 {
  border-l-color: var(--bg1);
}

.border-l-bg-dim {
  border-l-color: var(--bg-dim);
}

.border-l-bg-green {
  border-l-color: var(--bg-green);
}

.border-l-black {
  border-l-color: var(--black);
}

.border-l-diff-yellow {
  border-l-color: var(--diff-yellow);
}

.border-l-fg {
  border-l-color: var(--fg);
}

.border-l-grey-dim {
  border-l-color: var(--grey-dim);
}

.border-l-bg2 {
  border-l-color: var(--bg2);
}

.border-l-bg3 {
  border-l-color: var(--bg3);
}

.border-l-diff-blue {
  border-l-color: var(--diff-blue);
}

.border-l-orange {
  border-l-color: var(--orange);
}

.border-l-red {
  border-l-color: var(--red);
}

.border-l-transparent {
  border-l-color: var(--transparent);
}

.border-l-inherit {
  border-l-color: var(--inherit);
}

.border-l-bg-blue {
  border-l-color: var(--bg-blue);
}

.border-l-diff-green {
  border-l-color: var(--diff-green);
}

.border-l-diff-red {
  border-l-color: var(--diff-red);
}

.border-l-green {
  border-l-color: var(--green);
}

.border-l-grey {
  border-l-color: var(--grey);
}

.border-l-yellow {
  border-l-color: var(--yellow);
}

.border-l-bg4 {
  border-l-color: var(--bg4);
}

.border-l-bg-red {
  border-l-color: var(--bg-red);
}

.border-l-blue {
  border-l-color: var(--blue);
}

.border-l-purple {
  border-l-color: var(--purple);
}

.border-l-solid {
  border-l-color: solid;
}

.border-l-dashed {
  border-l-color: dashed;
}

.border-l-rounded {
  border-l-radius: 4px;
}

.border-l-square {
  border-l-radius: 0;
}

.border-tl-square {
  border-tl-radius: 0;
}

.border-tl-rounded {
  border-tl-radius: 4px;
}

.border-bl-square {
  border-bl-radius: 0;
}

.border-bl-rounded {
  border-bl-radius: 4px;
}

.border-r {
  border-r: 2px solid var(--grey-dim);
  margin-r: calc((var(--col) - 2px) / 2);
  padding-r: calc((var(--col) - 2px) / 2);
}

.border-r-0 {
  border-r: 0;
  margin-r: 0;
  padding-r: 0;
}

.border-r-bg4 {
  border-r-color: var(--bg4);
}

.border-r-bg-red {
  border-r-color: var(--bg-red);
}

.border-r-blue {
  border-r-color: var(--blue);
}

.border-r-purple {
  border-r-color: var(--purple);
}

.border-r-bg0 {
  border-r-color: var(--bg0);
}

.border-r-bg1 {
  border-r-color: var(--bg1);
}

.border-r-bg-dim {
  border-r-color: var(--bg-dim);
}

.border-r-bg-green {
  border-r-color: var(--bg-green);
}

.border-r-black {
  border-r-color: var(--black);
}

.border-r-diff-yellow {
  border-r-color: var(--diff-yellow);
}

.border-r-fg {
  border-r-color: var(--fg);
}

.border-r-grey-dim {
  border-r-color: var(--grey-dim);
}

.border-r-bg2 {
  border-r-color: var(--bg2);
}

.border-r-bg3 {
  border-r-color: var(--bg3);
}

.border-r-diff-blue {
  border-r-color: var(--diff-blue);
}

.border-r-orange {
  border-r-color: var(--orange);
}

.border-r-red {
  border-r-color: var(--red);
}

.border-r-transparent {
  border-r-color: var(--transparent);
}

.border-r-inherit {
  border-r-color: var(--inherit);
}

.border-r-bg-blue {
  border-r-color: var(--bg-blue);
}

.border-r-diff-green {
  border-r-color: var(--diff-green);
}

.border-r-diff-red {
  border-r-color: var(--diff-red);
}

.border-r-green {
  border-r-color: var(--green);
}

.border-r-grey {
  border-r-color: var(--grey);
}

.border-r-yellow {
  border-r-color: var(--yellow);
}

.border-r-solid {
  border-r-color: solid;
}

.border-r-dashed {
  border-r-color: dashed;
}

.border-r-square {
  border-r-radius: 0;
}

.border-r-rounded {
  border-r-radius: 4px;
}

.border-tr-square {
  border-tr-radius: 0;
}

.border-tr-rounded {
  border-tr-radius: 4px;
}

.border-br-square {
  border-br-radius: 0;
}

.border-br-rounded {
  border-br-radius: 4px;
}

/* MERGED BORDERS
 * ====================
 * These utilities are essentially the eqivalent of `-m-1` to use alongside border classes.
 * They are offered as convenience classes to combine containers with adjacent borders.
 * The alternative to this would be to nest the bordered containers in something else,
 * and apply the negative margins to the outer elements; but this can have bad side-effects
 * in more complex layouts, in addition to just complicate things that should be simple.
 * WARNING: These classes will break the grid unless used together with the corresponding borders
 */

.border-merge {
  margin-x: calc((var(--col) + 2px) / -2);
}

.border-merge {
  margin-y: calc((var(--row) + 2px) / -2);
}

.border-merge-x {
  margin-x: calc((var(--col) + 2px) / -2);
}

.border-merge-t {
  margin-t: calc((var(--row) + 2px) / -2);
}

.border-merge-b {
  margin-b: calc((var(--row) + 2px) / -2);
}

.border-merge-y {
  margin-y: calc((var(--row) + 2px) / -2);
}

.border-merge-l {
  margin-l: calc((var(--col) + 2px) / -2);
}

.border-merge-r {
  margin-r: calc((var(--col) + 2px) / -2);
}

/* WIDTHS & HEIGHTS
 * ====================
 * A collection of width and height utilities.
 * Each option comes with a `min-` and `max-` variant.
 */

.w-0 {
  width: calc(var(--col) * 0);
}

.w-1 {
  width: calc(var(--col) * 1);
}

.w-2 {
  width: calc(var(--col) * 2);
}

.w-4 {
  width: calc(var(--col) * 4);
}

.w-8 {
  width: calc(var(--col) * 8);
}

.w-12 {
  width: calc(var(--col) * 12);
}

.w-20 {
  width: calc(var(--col) * 20);
}

.w-32 {
  width: calc(var(--col) * 32);
}

.w-40 {
  width: calc(var(--col) * 40);
}

.w-80 {
  width: calc(var(--col) * 80);
}

.w-100 {
  width: calc(var(--col) * 100);
}

.w-120 {
  width: calc(var(--col) * 120);
}

.max-w-0 {
  max-width: calc(var(--col) * 0);
}

.max-w-1 {
  max-width: calc(var(--col) * 1);
}

.max-w-2 {
  max-width: calc(var(--col) * 2);
}

.max-w-4 {
  max-width: calc(var(--col) * 4);
}

.max-w-8 {
  max-width: calc(var(--col) * 8);
}

.max-w-12 {
  max-width: calc(var(--col) * 12);
}

.max-w-20 {
  max-width: calc(var(--col) * 20);
}

.max-w-32 {
  max-width: calc(var(--col) * 32);
}

.max-w-40 {
  max-width: calc(var(--col) * 40);
}

.max-w-80 {
  max-width: calc(var(--col) * 80);
}

.max-w-100 {
  max-width: calc(var(--col) * 100);
}

.max-w-120 {
  max-width: calc(var(--col) * 120);
}

.min-w-0 {
  min-width: calc(var(--col) * 0);
}

.min-w-1 {
  min-width: calc(var(--col) * 1);
}

.min-w-2 {
  min-width: calc(var(--col) * 2);
}

.min-w-4 {
  min-width: calc(var(--col) * 4);
}

.min-w-8 {
  min-width: calc(var(--col) * 8);
}

.min-w-12 {
  min-width: calc(var(--col) * 12);
}

.min-w-20 {
  min-width: calc(var(--col) * 20);
}

.min-w-32 {
  min-width: calc(var(--col) * 32);
}

.min-w-40 {
  min-width: calc(var(--col) * 40);
}

.min-w-80 {
  min-width: calc(var(--col) * 80);
}

.min-w-100 {
  min-width: calc(var(--col) * 100);
}

.min-w-120 {
  min-width: calc(var(--col) * 120);
}

.h-0 {
  height: calc(var(--row) * 0);
}

.h-1 {
  height: calc(var(--row) * 1);
}

.h-2 {
  height: calc(var(--row) * 2);
}

.h-4 {
  height: calc(var(--row) * 4);
}

.h-8 {
  height: calc(var(--row) * 8);
}

.h-12 {
  height: calc(var(--row) * 12);
}

.h-20 {
  height: calc(var(--row) * 20);
}

.h-32 {
  height: calc(var(--row) * 32);
}

.h-40 {
  height: calc(var(--row) * 40);
}

.h-80 {
  height: calc(var(--row) * 80);
}

.h-100 {
  height: calc(var(--row) * 100);
}

.h-120 {
  height: calc(var(--row) * 120);
}

.max-h-0 {
  max-height: calc(var(--row) * 0);
}

.max-h-1 {
  max-height: calc(var(--row) * 1);
}

.max-h-2 {
  max-height: calc(var(--row) * 2);
}

.max-h-4 {
  max-height: calc(var(--row) * 4);
}

.max-h-8 {
  max-height: calc(var(--row) * 8);
}

.max-h-12 {
  max-height: calc(var(--row) * 12);
}

.max-h-20 {
  max-height: calc(var(--row) * 20);
}

.max-h-32 {
  max-height: calc(var(--row) * 32);
}

.max-h-40 {
  max-height: calc(var(--row) * 40);
}

.max-h-80 {
  max-height: calc(var(--row) * 80);
}

.max-h-100 {
  max-height: calc(var(--row) * 100);
}

.max-h-120 {
  max-height: calc(var(--row) * 120);
}

.min-h-0 {
  min-height: calc(var(--row) * 0);
}

.min-h-1 {
  min-height: calc(var(--row) * 1);
}

.min-h-2 {
  min-height: calc(var(--row) * 2);
}

.min-h-4 {
  min-height: calc(var(--row) * 4);
}

.min-h-8 {
  min-height: calc(var(--row) * 8);
}

.min-h-12 {
  min-height: calc(var(--row) * 12);
}

.min-h-20 {
  min-height: calc(var(--row) * 20);
}

.min-h-32 {
  min-height: calc(var(--row) * 32);
}

.min-h-40 {
  min-height: calc(var(--row) * 40);
}

.min-h-80 {
  min-height: calc(var(--row) * 80);
}

.min-h-100 {
  min-height: calc(var(--row) * 100);
}

.min-h-120 {
  min-height: calc(var(--row) * 120);
}

/* POSITIONING
 * ====================
 * Position, display, and visibility (including z-index).
 * Also including some `top`, `bottom`, `left`, and `right` options.
 */

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.top-0 {
  top: calc(var(--row) * 0);
}

.top-1 {
  top: calc(var(--row) * 1);
}

.top-2 {
  top: calc(var(--row) * 2);
}

.top-3 {
  top: calc(var(--row) * 3);
}

.top-4 {
  top: calc(var(--row) * 4);
}

.top-6 {
  top: calc(var(--row) * 6);
}

.top-8 {
  top: calc(var(--row) * 8);
}

.top-12 {
  top: calc(var(--row) * 12);
}

.top-20 {
  top: calc(var(--row) * 20);
}

.bottom-0 {
  bottom: calc(var(--row) * 0);
}

.bottom-1 {
  bottom: calc(var(--row) * 1);
}

.bottom-2 {
  bottom: calc(var(--row) * 2);
}

.bottom-3 {
  bottom: calc(var(--row) * 3);
}

.bottom-4 {
  bottom: calc(var(--row) * 4);
}

.bottom-6 {
  bottom: calc(var(--row) * 6);
}

.bottom-8 {
  bottom: calc(var(--row) * 8);
}

.bottom-12 {
  bottom: calc(var(--row) * 12);
}

.bottom-20 {
  bottom: calc(var(--row) * 20);
}

.left-0 {
  left: calc(var(--col) * 0);
}

.left-1 {
  left: calc(var(--col) * 1);
}

.left-2 {
  left: calc(var(--col) * 2);
}

.left-3 {
  left: calc(var(--col) * 3);
}

.left-4 {
  left: calc(var(--col) * 4);
}

.left-6 {
  left: calc(var(--col) * 6);
}

.left-8 {
  left: calc(var(--col) * 8);
}

.left-12 {
  left: calc(var(--col) * 12);
}

.left-20 {
  left: calc(var(--col) * 20);
}

.right-0 {
  right: calc(var(--col) * 0);
}

.right-1 {
  right: calc(var(--col) * 1);
}

.right-2 {
  right: calc(var(--col) * 2);
}

.right-3 {
  right: calc(var(--col) * 3);
}

.right-4 {
  right: calc(var(--col) * 4);
}

.right-6 {
  right: calc(var(--col) * 6);
}

.right-8 {
  right: calc(var(--col) * 8);
}

.right-12 {
  right: calc(var(--col) * 12);
}

.right-20 {
  right: calc(var(--col) * 20);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

