html {
  --red: #fc5d7c;
  --yellow: #e7c664;
  --bg3: #3b3e48;
  --bg-blue: #85d3f2;
  --bg-dim: #222327;
  --diff-blue: #354157;
  --diff-red: #55393d;
  --grey-dim: #595f6f;
  --transparent: transparent;
  --bg0: #2c2e34;
  --bg1: #33353f;
  --bg4: #414550;
  --grey: #7f8490;
  --inherit: inherit;
  --bg2: #363944;
  --bg-green: #a7df78;
  --bg-red: #ff6077;
  --black: #181819;
  --blue: #76cce0;
  --diff-yellow: #4e432f;
  --fg: #e2e2e3;
  --green: #9ed072;
  --diff-green: #394634;
  --orange: #f39660;
  --purple: #b39df3;
}

html {
  --base-size: 14px;
  --col: calc(1rem * 0.6);
  --row: calc(1rem * 1.35);
}

html {
  font-size: var(--base-size);
  line-height: var(--row);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Monaco Nerd Font";
  background-color: var(--bg-dim);
  color: var(--fg);
}

ul {
  list-style: none;
  padding-left: calc(var(--col) * 2);
  margin: 0;
}

li {
  position: relative;
}

li:before {
  content: "*";
  position: absolute;
  left: calc(var(--col) * -2);
  color: var(--grey);
}

.text-0\.5 {
  font-size: calc(var(--base-size) * 0.5);
  line-height: calc(var(--row) * 1);
}

.text-1 {
  font-size: calc(var(--base-size) * 1);
  line-height: calc(var(--row) * 1);
}

.text-2 {
  font-size: calc(var(--base-size) * 2);
  line-height: calc(var(--row) * 2);
}

.text-3 {
  font-size: calc(var(--base-size) * 3);
  line-height: calc(var(--row) * 3);
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.text-bg3 {
  color: var(--bg3);
}

.bg-bg3 {
  background-color: var(--bg3);
}

.text-bg-blue {
  color: var(--bg-blue);
}

.bg-bg-blue {
  background-color: var(--bg-blue);
}

.text-bg-dim {
  color: var(--bg-dim);
}

.bg-bg-dim {
  background-color: var(--bg-dim);
}

.text-diff-blue {
  color: var(--diff-blue);
}

.bg-diff-blue {
  background-color: var(--diff-blue);
}

.text-diff-red {
  color: var(--diff-red);
}

.bg-diff-red {
  background-color: var(--diff-red);
}

.text-grey-dim {
  color: var(--grey-dim);
}

.bg-grey-dim {
  background-color: var(--grey-dim);
}

.text-transparent {
  color: var(--transparent);
}

.bg-transparent {
  background-color: var(--transparent);
}

.text-bg0 {
  color: var(--bg0);
}

.bg-bg0 {
  background-color: var(--bg0);
}

.text-bg1 {
  color: var(--bg1);
}

.bg-bg1 {
  background-color: var(--bg1);
}

.text-bg4 {
  color: var(--bg4);
}

.bg-bg4 {
  background-color: var(--bg4);
}

.text-grey {
  color: var(--grey);
}

.bg-grey {
  background-color: var(--grey);
}

.text-inherit {
  color: var(--inherit);
}

.bg-inherit {
  background-color: var(--inherit);
}

.text-bg2 {
  color: var(--bg2);
}

.bg-bg2 {
  background-color: var(--bg2);
}

.text-bg-green {
  color: var(--bg-green);
}

.bg-bg-green {
  background-color: var(--bg-green);
}

.text-bg-red {
  color: var(--bg-red);
}

.bg-bg-red {
  background-color: var(--bg-red);
}

.text-black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.text-blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.text-diff-yellow {
  color: var(--diff-yellow);
}

.bg-diff-yellow {
  background-color: var(--diff-yellow);
}

.text-fg {
  color: var(--fg);
}

.bg-fg {
  background-color: var(--fg);
}

.text-green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
}

.text-diff-green {
  color: var(--diff-green);
}

.bg-diff-green {
  background-color: var(--diff-green);
}

.text-orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.text-purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

.text-red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

.text-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.pt-0, .py-0, .p-0 {
  padding-top: calc(var(--row) * 0);
}

.pb-0, .py-0, .p-0 {
  padding-bottom: calc(var(--row) * 0);
}

.pl-0, .px-0, .p-0 {
  padding-left: calc(var(--col) * 0);
}

.pr-0, .px-0, .p-0 {
  padding-right: calc(var(--col) * 0);
}

.pt-1, .py-1, .p-1 {
  padding-top: calc(var(--row) * 1);
}

.pb-1, .py-1, .p-1 {
  padding-bottom: calc(var(--row) * 1);
}

.pl-1, .px-1, .p-1 {
  padding-left: calc(var(--col) * 1);
}

.pr-1, .px-1, .p-1 {
  padding-right: calc(var(--col) * 1);
}

.pr-2, .px-2, .p-2 {
  padding-right: calc(var(--col) * 2);
}

.pt-2, .py-2, .p-2 {
  padding-top: calc(var(--row) * 2);
}

.pb-2, .py-2, .p-2 {
  padding-bottom: calc(var(--row) * 2);
}

.pl-2, .px-2, .p-2 {
  padding-left: calc(var(--col) * 2);
}

.pt-4, .py-4, .p-4 {
  padding-top: calc(var(--row) * 4);
}

.pb-4, .py-4, .p-4 {
  padding-bottom: calc(var(--row) * 4);
}

.pl-4, .px-4, .p-4 {
  padding-left: calc(var(--col) * 4);
}

.pr-4, .px-4, .p-4 {
  padding-right: calc(var(--col) * 4);
}

.-mb-2, .-my-2, .-m-2 {
  margin-bottom: calc(var(--row) * -2);
}

.-ml-2, .-mx-2, .-m-2 {
  margin-left: calc(var(--col) * -2);
}

.-mr-2, .-mx-2, .-m-2 {
  margin-right: calc(var(--col) * -2);
}

.-mt-2, .-my-2, .-m-2 {
  margin-top: calc(var(--row) * -2);
}

.-mt-1, .-my-1, .-m-1 {
  margin-top: calc(var(--row) * -1);
}

.-mb-1, .-my-1, .-m-1 {
  margin-bottom: calc(var(--row) * -1);
}

.-ml-1, .-mx-1, .-m-1 {
  margin-left: calc(var(--col) * -1);
}

.-mr-1, .-mx-1, .-m-1 {
  margin-right: calc(var(--col) * -1);
}

.mr-0, .mx-0, .m-0 {
  margin-right: calc(var(--col) * 0);
}

.mt-0, .my-0, .m-0 {
  margin-top: calc(var(--row) * 0);
}

.mb-0, .my-0, .m-0 {
  margin-bottom: calc(var(--row) * 0);
}

.ml-0, .mx-0, .m-0 {
  margin-left: calc(var(--col) * 0);
}

.mt-1, .my-1, .m-1 {
  margin-top: calc(var(--row) * 1);
}

.mb-1, .my-1, .m-1 {
  margin-bottom: calc(var(--row) * 1);
}

.ml-1, .mx-1, .m-1 {
  margin-left: calc(var(--col) * 1);
}

.mr-1, .mx-1, .m-1 {
  margin-right: calc(var(--col) * 1);
}

.ml-2, .mx-2, .m-2 {
  margin-left: calc(var(--col) * 2);
}

.mr-2, .mx-2, .m-2 {
  margin-right: calc(var(--col) * 2);
}

.mt-2, .my-2, .m-2 {
  margin-top: calc(var(--row) * 2);
}

.mb-2, .my-2, .m-2 {
  margin-bottom: calc(var(--row) * 2);
}

.mt-4, .my-4, .m-4 {
  margin-top: calc(var(--row) * 4);
}

.mb-4, .my-4, .m-4 {
  margin-bottom: calc(var(--row) * 4);
}

.ml-4, .mx-4, .m-4 {
  margin-left: calc(var(--col) * 4);
}

.mr-4, .mx-4, .m-4 {
  margin-right: calc(var(--col) * 4);
}

.mt-auto, .my-auto, .m-auto {
  margin-top: auto;
}

.mb-auto, .my-auto, .m-auto {
  margin-bottom: auto;
}

.ml-auto, .mx-auto, .m-auto {
  margin-left: auto;
}

.mr-auto, .mx-auto, .m-auto {
  margin-right: auto;
}

.border-l-0, .border-x-0, .border-0 {
  border-left: 0px solid var(--grey-dim);
  margin-left: 0;
  padding-left: 0;
}

.border-l, .border-x, .border {
  border-left: 2px solid var(--grey-dim);
  margin-left: calc((var(--col) - 2px) / 2);
  padding-left: calc((var(--col) - 2px) / 2);
}

.border-l-bg2, .border-x-bg2, .border-bg2 {
  border-left-color: var(--bg2);
}

.border-l-bg-green, .border-x-bg-green, .border-bg-green {
  border-left-color: var(--bg-green);
}

.border-l-bg-red, .border-x-bg-red, .border-bg-red {
  border-left-color: var(--bg-red);
}

.border-l-black, .border-x-black, .border-black {
  border-left-color: var(--black);
}

.border-l-blue, .border-x-blue, .border-blue {
  border-left-color: var(--blue);
}

.border-l-diff-yellow, .border-x-diff-yellow, .border-diff-yellow {
  border-left-color: var(--diff-yellow);
}

.border-l-fg, .border-x-fg, .border-fg {
  border-left-color: var(--fg);
}

.border-l-green, .border-x-green, .border-green {
  border-left-color: var(--green);
}

.border-l-diff-green, .border-x-diff-green, .border-diff-green {
  border-left-color: var(--diff-green);
}

.border-l-orange, .border-x-orange, .border-orange {
  border-left-color: var(--orange);
}

.border-l-purple, .border-x-purple, .border-purple {
  border-left-color: var(--purple);
}

.border-l-red, .border-x-red, .border-red {
  border-left-color: var(--red);
}

.border-l-yellow, .border-x-yellow, .border-yellow {
  border-left-color: var(--yellow);
}

.border-l-bg3, .border-x-bg3, .border-bg3 {
  border-left-color: var(--bg3);
}

.border-l-bg-blue, .border-x-bg-blue, .border-bg-blue {
  border-left-color: var(--bg-blue);
}

.border-l-bg-dim, .border-x-bg-dim, .border-bg-dim {
  border-left-color: var(--bg-dim);
}

.border-l-diff-blue, .border-x-diff-blue, .border-diff-blue {
  border-left-color: var(--diff-blue);
}

.border-l-diff-red, .border-x-diff-red, .border-diff-red {
  border-left-color: var(--diff-red);
}

.border-l-grey-dim, .border-x-grey-dim, .border-grey-dim {
  border-left-color: var(--grey-dim);
}

.border-l-transparent, .border-x-transparent, .border-transparent {
  border-left-color: var(--transparent);
}

.border-l-bg0, .border-x-bg0, .border-bg0 {
  border-left-color: var(--bg0);
}

.border-l-bg1, .border-x-bg1, .border-bg1 {
  border-left-color: var(--bg1);
}

.border-l-bg4, .border-x-bg4, .border-bg4 {
  border-left-color: var(--bg4);
}

.border-l-grey, .border-x-grey, .border-grey {
  border-left-color: var(--grey);
}

.border-l-inherit, .border-x-inherit, .border-inherit {
  border-left-color: var(--inherit);
}

.border-l-solid, .border-x-solid, .border-solid {
  border-left-style: solid;
}

.border-l-dashed, .border-x-dashed, .border-dashed {
  border-left-style: dashed;
}

.border-r, .border-x, .border {
  border-right: 2px solid var(--grey-dim);
  margin-right: calc((var(--col) - 2px) / 2);
  padding-right: calc((var(--col) - 2px) / 2);
}

.border-r-0, .border-x-0, .border-0 {
  border-right: 0px solid var(--grey-dim);
  margin-right: 0;
  padding-right: 0;
}

.border-r-red, .border-x-red, .border-red {
  border-right-color: var(--red);
}

.border-r-yellow, .border-x-yellow, .border-yellow {
  border-right-color: var(--yellow);
}

.border-r-bg3, .border-x-bg3, .border-bg3 {
  border-right-color: var(--bg3);
}

.border-r-bg-blue, .border-x-bg-blue, .border-bg-blue {
  border-right-color: var(--bg-blue);
}

.border-r-bg-dim, .border-x-bg-dim, .border-bg-dim {
  border-right-color: var(--bg-dim);
}

.border-r-diff-blue, .border-x-diff-blue, .border-diff-blue {
  border-right-color: var(--diff-blue);
}

.border-r-diff-red, .border-x-diff-red, .border-diff-red {
  border-right-color: var(--diff-red);
}

.border-r-grey-dim, .border-x-grey-dim, .border-grey-dim {
  border-right-color: var(--grey-dim);
}

.border-r-transparent, .border-x-transparent, .border-transparent {
  border-right-color: var(--transparent);
}

.border-r-bg0, .border-x-bg0, .border-bg0 {
  border-right-color: var(--bg0);
}

.border-r-bg1, .border-x-bg1, .border-bg1 {
  border-right-color: var(--bg1);
}

.border-r-bg4, .border-x-bg4, .border-bg4 {
  border-right-color: var(--bg4);
}

.border-r-grey, .border-x-grey, .border-grey {
  border-right-color: var(--grey);
}

.border-r-inherit, .border-x-inherit, .border-inherit {
  border-right-color: var(--inherit);
}

.border-r-bg2, .border-x-bg2, .border-bg2 {
  border-right-color: var(--bg2);
}

.border-r-bg-green, .border-x-bg-green, .border-bg-green {
  border-right-color: var(--bg-green);
}

.border-r-bg-red, .border-x-bg-red, .border-bg-red {
  border-right-color: var(--bg-red);
}

.border-r-black, .border-x-black, .border-black {
  border-right-color: var(--black);
}

.border-r-blue, .border-x-blue, .border-blue {
  border-right-color: var(--blue);
}

.border-r-diff-yellow, .border-x-diff-yellow, .border-diff-yellow {
  border-right-color: var(--diff-yellow);
}

.border-r-fg, .border-x-fg, .border-fg {
  border-right-color: var(--fg);
}

.border-r-green, .border-x-green, .border-green {
  border-right-color: var(--green);
}

.border-r-diff-green, .border-x-diff-green, .border-diff-green {
  border-right-color: var(--diff-green);
}

.border-r-orange, .border-x-orange, .border-orange {
  border-right-color: var(--orange);
}

.border-r-purple, .border-x-purple, .border-purple {
  border-right-color: var(--purple);
}

.border-r-solid, .border-x-solid, .border-solid {
  border-right-style: solid;
}

.border-r-dashed, .border-x-dashed, .border-dashed {
  border-right-style: dashed;
}

.border-t, .border-y, .border {
  border-top: 2px solid var(--grey-dim);
  margin-top: calc((var(--row) - 2px) / 2);
  padding-top: calc((var(--row) - 2px) / 2);
}

.border-t-0, .border-y-0, .border-0 {
  border-top: 0px solid var(--grey-dim);
  margin-top: 0;
  padding-top: 0;
}

.border-t-bg2, .border-y-bg2, .border-bg2 {
  border-top-color: var(--bg2);
}

.border-t-bg-green, .border-y-bg-green, .border-bg-green {
  border-top-color: var(--bg-green);
}

.border-t-bg-red, .border-y-bg-red, .border-bg-red {
  border-top-color: var(--bg-red);
}

.border-t-black, .border-y-black, .border-black {
  border-top-color: var(--black);
}

.border-t-blue, .border-y-blue, .border-blue {
  border-top-color: var(--blue);
}

.border-t-diff-yellow, .border-y-diff-yellow, .border-diff-yellow {
  border-top-color: var(--diff-yellow);
}

.border-t-fg, .border-y-fg, .border-fg {
  border-top-color: var(--fg);
}

.border-t-green, .border-y-green, .border-green {
  border-top-color: var(--green);
}

.border-t-diff-green, .border-y-diff-green, .border-diff-green {
  border-top-color: var(--diff-green);
}

.border-t-orange, .border-y-orange, .border-orange {
  border-top-color: var(--orange);
}

.border-t-purple, .border-y-purple, .border-purple {
  border-top-color: var(--purple);
}

.border-t-red, .border-y-red, .border-red {
  border-top-color: var(--red);
}

.border-t-yellow, .border-y-yellow, .border-yellow {
  border-top-color: var(--yellow);
}

.border-t-bg3, .border-y-bg3, .border-bg3 {
  border-top-color: var(--bg3);
}

.border-t-bg-blue, .border-y-bg-blue, .border-bg-blue {
  border-top-color: var(--bg-blue);
}

.border-t-bg-dim, .border-y-bg-dim, .border-bg-dim {
  border-top-color: var(--bg-dim);
}

.border-t-diff-blue, .border-y-diff-blue, .border-diff-blue {
  border-top-color: var(--diff-blue);
}

.border-t-diff-red, .border-y-diff-red, .border-diff-red {
  border-top-color: var(--diff-red);
}

.border-t-grey-dim, .border-y-grey-dim, .border-grey-dim {
  border-top-color: var(--grey-dim);
}

.border-t-transparent, .border-y-transparent, .border-transparent {
  border-top-color: var(--transparent);
}

.border-t-bg0, .border-y-bg0, .border-bg0 {
  border-top-color: var(--bg0);
}

.border-t-bg1, .border-y-bg1, .border-bg1 {
  border-top-color: var(--bg1);
}

.border-t-bg4, .border-y-bg4, .border-bg4 {
  border-top-color: var(--bg4);
}

.border-t-grey, .border-y-grey, .border-grey {
  border-top-color: var(--grey);
}

.border-t-inherit, .border-y-inherit, .border-inherit {
  border-top-color: var(--inherit);
}

.border-t-solid, .border-y-solid, .border-solid {
  border-top-style: solid;
}

.border-t-dashed, .border-y-dashed, .border-dashed {
  border-top-style: dashed;
}

.border-b, .border-y, .border {
  border-bottom: 2px solid var(--grey-dim);
  margin-bottom: calc((var(--row) - 2px) / 2);
  padding-bottom: calc((var(--row) - 2px) / 2);
}

.border-b-0, .border-y-0, .border-0 {
  border-bottom: 0px solid var(--grey-dim);
  margin-bottom: 0;
  padding-bottom: 0;
}

.border-b-bg2, .border-y-bg2, .border-bg2 {
  border-bottom-color: var(--bg2);
}

.border-b-bg-green, .border-y-bg-green, .border-bg-green {
  border-bottom-color: var(--bg-green);
}

.border-b-bg-red, .border-y-bg-red, .border-bg-red {
  border-bottom-color: var(--bg-red);
}

.border-b-black, .border-y-black, .border-black {
  border-bottom-color: var(--black);
}

.border-b-blue, .border-y-blue, .border-blue {
  border-bottom-color: var(--blue);
}

.border-b-diff-yellow, .border-y-diff-yellow, .border-diff-yellow {
  border-bottom-color: var(--diff-yellow);
}

.border-b-fg, .border-y-fg, .border-fg {
  border-bottom-color: var(--fg);
}

.border-b-green, .border-y-green, .border-green {
  border-bottom-color: var(--green);
}

.border-b-diff-green, .border-y-diff-green, .border-diff-green {
  border-bottom-color: var(--diff-green);
}

.border-b-orange, .border-y-orange, .border-orange {
  border-bottom-color: var(--orange);
}

.border-b-purple, .border-y-purple, .border-purple {
  border-bottom-color: var(--purple);
}

.border-b-red, .border-y-red, .border-red {
  border-bottom-color: var(--red);
}

.border-b-yellow, .border-y-yellow, .border-yellow {
  border-bottom-color: var(--yellow);
}

.border-b-bg3, .border-y-bg3, .border-bg3 {
  border-bottom-color: var(--bg3);
}

.border-b-bg-blue, .border-y-bg-blue, .border-bg-blue {
  border-bottom-color: var(--bg-blue);
}

.border-b-bg-dim, .border-y-bg-dim, .border-bg-dim {
  border-bottom-color: var(--bg-dim);
}

.border-b-diff-blue, .border-y-diff-blue, .border-diff-blue {
  border-bottom-color: var(--diff-blue);
}

.border-b-diff-red, .border-y-diff-red, .border-diff-red {
  border-bottom-color: var(--diff-red);
}

.border-b-grey-dim, .border-y-grey-dim, .border-grey-dim {
  border-bottom-color: var(--grey-dim);
}

.border-b-transparent, .border-y-transparent, .border-transparent {
  border-bottom-color: var(--transparent);
}

.border-b-bg0, .border-y-bg0, .border-bg0 {
  border-bottom-color: var(--bg0);
}

.border-b-bg1, .border-y-bg1, .border-bg1 {
  border-bottom-color: var(--bg1);
}

.border-b-bg4, .border-y-bg4, .border-bg4 {
  border-bottom-color: var(--bg4);
}

.border-b-grey, .border-y-grey, .border-grey {
  border-bottom-color: var(--grey);
}

.border-b-inherit, .border-y-inherit, .border-inherit {
  border-bottom-color: var(--inherit);
}

.border-b-solid, .border-y-solid, .border-solid {
  border-bottom-style: solid;
}

.border-b-dashed, .border-y-dashed, .border-dashed {
  border-bottom-style: dashed;
}

.border-br-rounded-0, .border-b-rounded-0, .border-r-rounded-0, .border-rounded-0 {
  border-bottom-right-radius: 0px;
}

.border-tl-rounded-0, .border-t-rounded-0, .border-l-rounded-0, .border-rounded-0 {
  border-top-left-radius: 0px;
}

.border-tr-rounded-0, .border-t-rounded-0, .border-r-rounded-0, .border-rounded-0 {
  border-top-right-radius: 0px;
}

.border-bl-rounded-0, .border-b-rounded-0, .border-l-rounded-0, .border-rounded-0 {
  border-bottom-left-radius: 0px;
}

.border-tl-rounded-4, .border-t-rounded-4, .border-l-rounded-4, .border-rounded-4 {
  border-top-left-radius: 4px;
}

.border-tr-rounded-4, .border-t-rounded-4, .border-r-rounded-4, .border-rounded-4 {
  border-top-right-radius: 4px;
}

.border-bl-rounded-4, .border-b-rounded-4, .border-l-rounded-4, .border-rounded-4 {
  border-bottom-left-radius: 4px;
}

.border-br-rounded-4, .border-b-rounded-4, .border-r-rounded-4, .border-rounded-4 {
  border-bottom-right-radius: 4px;
}

.border-merge-t, .border-merge-y, .border-merge {
  margin-top: calc((var(--row) - 2px) / 2 - var(--row));
}

.border-merge-b, .border-merge-y, .border-merge {
  margin-bottom: calc((var(--row) - 2px) / 2 - var(--row));
}

.border-merge-l, .border-merge-x, .border-merge {
  margin-left: calc((var(--col) - 2px) / 2 - var(--col));
}

.border-merge-r, .border-merge-x, .border-merge {
  margin-right: calc((var(--col) - 2px) / 2 - var(--col));
}

.w-0 {
  width: calc(var(--col) * 0);
}

.w-1 {
  width: calc(var(--col) * 1);
}

.w-2 {
  width: calc(var(--col) * 2);
}

.w-4 {
  width: calc(var(--col) * 4);
}

.w-8 {
  width: calc(var(--col) * 8);
}

.w-12 {
  width: calc(var(--col) * 12);
}

.w-20 {
  width: calc(var(--col) * 20);
}

.w-32 {
  width: calc(var(--col) * 32);
}

.w-40 {
  width: calc(var(--col) * 40);
}

.w-80 {
  width: calc(var(--col) * 80);
}

.w-100 {
  width: calc(var(--col) * 100);
}

.w-120 {
  width: calc(var(--col) * 120);
}

.max-w-0 {
  max-width: calc(var(--col) * 0);
}

.max-w-1 {
  max-width: calc(var(--col) * 1);
}

.max-w-2 {
  max-width: calc(var(--col) * 2);
}

.max-w-4 {
  max-width: calc(var(--col) * 4);
}

.max-w-8 {
  max-width: calc(var(--col) * 8);
}

.max-w-12 {
  max-width: calc(var(--col) * 12);
}

.max-w-20 {
  max-width: calc(var(--col) * 20);
}

.max-w-32 {
  max-width: calc(var(--col) * 32);
}

.max-w-40 {
  max-width: calc(var(--col) * 40);
}

.max-w-80 {
  max-width: calc(var(--col) * 80);
}

.max-w-100 {
  max-width: calc(var(--col) * 100);
}

.max-w-120 {
  max-width: calc(var(--col) * 120);
}

.min-w-0 {
  min-width: calc(var(--col) * 0);
}

.min-w-1 {
  min-width: calc(var(--col) * 1);
}

.min-w-2 {
  min-width: calc(var(--col) * 2);
}

.min-w-4 {
  min-width: calc(var(--col) * 4);
}

.min-w-8 {
  min-width: calc(var(--col) * 8);
}

.min-w-12 {
  min-width: calc(var(--col) * 12);
}

.min-w-20 {
  min-width: calc(var(--col) * 20);
}

.min-w-32 {
  min-width: calc(var(--col) * 32);
}

.min-w-40 {
  min-width: calc(var(--col) * 40);
}

.min-w-80 {
  min-width: calc(var(--col) * 80);
}

.min-w-100 {
  min-width: calc(var(--col) * 100);
}

.min-w-120 {
  min-width: calc(var(--col) * 120);
}

.h-0 {
  height: calc(var(--row) * 0);
}

.h-1 {
  height: calc(var(--row) * 1);
}

.h-2 {
  height: calc(var(--row) * 2);
}

.h-4 {
  height: calc(var(--row) * 4);
}

.h-8 {
  height: calc(var(--row) * 8);
}

.h-12 {
  height: calc(var(--row) * 12);
}

.h-20 {
  height: calc(var(--row) * 20);
}

.h-32 {
  height: calc(var(--row) * 32);
}

.h-40 {
  height: calc(var(--row) * 40);
}

.h-80 {
  height: calc(var(--row) * 80);
}

.h-100 {
  height: calc(var(--row) * 100);
}

.h-120 {
  height: calc(var(--row) * 120);
}

.max-h-0 {
  max-height: calc(var(--row) * 0);
}

.max-h-1 {
  max-height: calc(var(--row) * 1);
}

.max-h-2 {
  max-height: calc(var(--row) * 2);
}

.max-h-4 {
  max-height: calc(var(--row) * 4);
}

.max-h-8 {
  max-height: calc(var(--row) * 8);
}

.max-h-12 {
  max-height: calc(var(--row) * 12);
}

.max-h-20 {
  max-height: calc(var(--row) * 20);
}

.max-h-32 {
  max-height: calc(var(--row) * 32);
}

.max-h-40 {
  max-height: calc(var(--row) * 40);
}

.max-h-80 {
  max-height: calc(var(--row) * 80);
}

.max-h-100 {
  max-height: calc(var(--row) * 100);
}

.max-h-120 {
  max-height: calc(var(--row) * 120);
}

.min-h-0 {
  min-height: calc(var(--row) * 0);
}

.min-h-1 {
  min-height: calc(var(--row) * 1);
}

.min-h-2 {
  min-height: calc(var(--row) * 2);
}

.min-h-4 {
  min-height: calc(var(--row) * 4);
}

.min-h-8 {
  min-height: calc(var(--row) * 8);
}

.min-h-12 {
  min-height: calc(var(--row) * 12);
}

.min-h-20 {
  min-height: calc(var(--row) * 20);
}

.min-h-32 {
  min-height: calc(var(--row) * 32);
}

.min-h-40 {
  min-height: calc(var(--row) * 40);
}

.min-h-80 {
  min-height: calc(var(--row) * 80);
}

.min-h-100 {
  min-height: calc(var(--row) * 100);
}

.min-h-120 {
  min-height: calc(var(--row) * 120);
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.top-0 {
  top: calc(var(--row) * 0);
}

.top-1 {
  top: calc(var(--row) * 1);
}

.top-2 {
  top: calc(var(--row) * 2);
}

.top-3 {
  top: calc(var(--row) * 3);
}

.top-4 {
  top: calc(var(--row) * 4);
}

.top-6 {
  top: calc(var(--row) * 6);
}

.top-8 {
  top: calc(var(--row) * 8);
}

.top-12 {
  top: calc(var(--row) * 12);
}

.top-20 {
  top: calc(var(--row) * 20);
}

.bottom-0 {
  bottom: calc(var(--row) * 0);
}

.bottom-1 {
  bottom: calc(var(--row) * 1);
}

.bottom-2 {
  bottom: calc(var(--row) * 2);
}

.bottom-3 {
  bottom: calc(var(--row) * 3);
}

.bottom-4 {
  bottom: calc(var(--row) * 4);
}

.bottom-6 {
  bottom: calc(var(--row) * 6);
}

.bottom-8 {
  bottom: calc(var(--row) * 8);
}

.bottom-12 {
  bottom: calc(var(--row) * 12);
}

.bottom-20 {
  bottom: calc(var(--row) * 20);
}

.left-0 {
  left: calc(var(--col) * 0);
}

.left-1 {
  left: calc(var(--col) * 1);
}

.left-2 {
  left: calc(var(--col) * 2);
}

.left-3 {
  left: calc(var(--col) * 3);
}

.left-4 {
  left: calc(var(--col) * 4);
}

.left-6 {
  left: calc(var(--col) * 6);
}

.left-8 {
  left: calc(var(--col) * 8);
}

.left-12 {
  left: calc(var(--col) * 12);
}

.left-20 {
  left: calc(var(--col) * 20);
}

.right-0 {
  right: calc(var(--col) * 0);
}

.right-1 {
  right: calc(var(--col) * 1);
}

.right-2 {
  right: calc(var(--col) * 2);
}

.right-3 {
  right: calc(var(--col) * 3);
}

.right-4 {
  right: calc(var(--col) * 4);
}

.right-6 {
  right: calc(var(--col) * 6);
}

.right-8 {
  right: calc(var(--col) * 8);
}

.right-12 {
  right: calc(var(--col) * 12);
}

.right-20 {
  right: calc(var(--col) * 20);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

